<table class="table">
  <thead>
  <tr>
    <th>Country</th>
    <th>Last Update</th>
    <th>Active Cases</th>
    <th>New Cases</th>
    <th>Total Cases</th>
    <th>New Deaths</th>
    <th>Total Deaths</th>
    <th>Total Recovered</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries">
    <td>{{country["Country_text"]}}</td>
    <td>{{country["Last Update"]}}</td>
    <td>{{country["Active Cases_text"]}}</td>
    <td>{{country["New Cases_text"]}}</td>
    <td>{{country["Total Cases_text"]}}</td>
    <td>{{country["New Deaths_text"]}}</td>
    <td>{{country["Total Deaths_text"]}}</td>
    <td>{{country["Total Recovered_text"]}}</td>
  </tr>
  </tbody>
</table>
<!--<p>{{country | json}}</p>-->
