<div class="container">
  <table class="table">
    <thead class="table__head">
      <tr>
        <th>Country</th>
        <th>Last Update</th>
        <th>Active Cases</th>
        <th>New Cases</th>
        <th>Total Cases</th>
        <th>New Deaths</th>
        <th>Total Deaths</th>
        <th>Total Recovered</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr *ngFor="let country of searchingCountries">
        <td>{{country.country}}</td>
        <td>{{country.lastUpdate.toLocaleString()}}</td>
        <td>{{country.activeCases}}</td>
        <td>{{country.newCases}}</td>
        <td>{{country.totalCases}}</td>
        <td>{{country.newDeaths}}</td>
        <td>{{country.totalDeaths}}</td>
        <td>{{country.totalRecovered}}</td>
      </tr>
    </tbody>
  </table>
</div>

