<div class="container">
  <div class="search__name">
    <input class="search__input" type="text" placeholder="Search" #nameCountryInput>
    <button class="search__btn">Search</button>
    <button class="search__btn search__btn-clear" (click)="reset()">Clear</button>
  </div>
  <div class="search__date">
    <input class="search__input" type="date" placeholder="Date" (change)="dateStartInput($event)">
    <button class="search__btn">Search</button>
    <button class="search__btn search__btn-clear" (click)="reset()">Clear</button>
  </div>
</div>
